#隠しファイル(ただしgitignore以外)は無視
.*
!.gitignore

#C++
*.slo
*.lo
*.o
*.so
*.lai
*.la
*.a

#ctags/etags/gtags
TAGS
tags
GPATH
GRTAGS
GSYMS
GTAGS

#vim
.*.sw[a-z]
Session.vim
*~

#TeX
*.pdf
*.aux
*.bbl
*.blg
*.dvi
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.nlo
*.out
*.toc
*.fdb_latexmk
*.pdfsync
*.synctex.gz
*.nav
*.snm
*.vrb
